<!DOCTYPE html>

<html>

    <head></head>

    <body style="background-color: #000000; border-radius: 20px;">

        <center>

            <img src="cid:logo" style="width: 700px; height: 400px;">

            <h1>Hello, {{ username }}!</h1>

            <h1>Your emotions report is ready.</h1>

            <h3>Emotions detected in facial expressions analyse by AI.</h3>

            <h3>The Top Emotion detected is: </h3>

            <h3>Conclusion</h3>

            <br>

        </center>

    </body>

</html>